body {
::-webkit-scrollbar
/*    overflow: hidden;*/
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.padding {
    padding: 0 200px;
}

.header {
    background-color: #1f2937;
    display: flex;
    color: lightgrey;
    align-items: center;
    gap: 18px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.logo {
    color: white;
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
}

.content-one {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    color: white;
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 25px;

}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: white;
}
img {
    background-color: grey;
}

.content-two {
 background-color: white;
}

.content-three {
    background-color: lightgrey;
}

.content-four {

}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

/******************************
body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header {

}

.footer {

}
*/